{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>LinkedIn</title>
		<!-- 地址栏的图标 -->
		<link rel="icon" href="{% static 'images/in.ico' %}" mce_href="{% static 'images/in.ico' %}" type="image/x-icon">
		<!-- 引入重置样式表 -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		<!-- 我的样式文件 -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/my_page.css' %}">	
		<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	</head>

	<body>
		<!--header开始-->
		<div class="header">
			<div class="header_center">
				<!--图标-->
				<div class="logo">
					<a href="#">
						<span class="logo_span"></span>
					</a>
				</div>

				<!--搜索框-->
				<form class="search">
					<div class="search_bar">
						<input type="text" class="search_input" name="search_input">
					</div>
				</form>

				<!--导航：从“主页”到“我”-->
				<div class="main_to_me">
					<ul class="main_to_me_ul">
						<li class="to_main_page">
							<a href="#" class="main_to_me_a"></a>
						</li><li class="to_friends">
							<a href="#" class="main_to_me_a"></a>
						</li><li class="to_position">
							<a href="#" class="main_to_me_a"></a>
						</li><li class="to_position">
							<a href="{% url 'users:messaging' %}" class="main_to_me_a"></a>
						</li><li class="to_notice">
							<a href="#" class="main_to_me_a"></a>
						</li><li class="to_me">
							<a href="#" class="main_to_me_a"></a>
						</li>
					</ul>
				</div>

				<!--导航：“更多”到“升级”-->
				<div class="more_to_up">
					<ul >
						<li class="to_more">
							<a href="#" class="to_more_a"></a>
						</li><li class="to_up">
							<a href="#" class="to_up_a">升级帐号</a>
						</li>	
					</ul>
				</div>
				

			</div>
		</div>
		<!--header结束-->
		
		<!--neck开始-->
		<div class="neck">
			<div class="neck_content">
				<div class="narrow_up"></div>
				<h4 class="neck_h4">周雅文，简单三步，构建职场关系：</h4>

				<div class="three_step_out">
					<div class="three_step three_step_left">
					<!-- 左 -->
						<div class="people_picture">
							<span class="people_picture_span"></span>
						</div>
						<div class="step1_h5">
							<h5 class="step1_h5_h5">完善职业档案，秀出您的实力！</h5>
						</div>
						<div class="article">
							<p class="article_p">工作经历填好啦！添加职业照，帮助其他人认出您。</p>
						</div>
					</div>
					<div class="three_step three_step_center">
					<!-- 中 -->
						<div class="friends_picture">
							<span class="friends_picture_span"></span>
						</div>
						<div class="step2_h5">
							<h5 class="step2_h5_h5">拓展职场人脉</h5>
						</div>
						<div class="article_2">
							<p class="article_2_p">您有 1 位好友！结识更多人脉，就会有更多职场机会。试试从添加 30 位好友开始。</p>
						</div>
					</div>
					<div class="three_step three_step_right">
					<!-- 右 -->
						<div class="message_picture">
							<span class="message_picture_span"></span>
						</div>
						<div class="step3_h5">
							<h5 class="step3_h5_h5">获取行业资讯</h5>
						</div>
						<div class="article_3">
							<p class="article_3_p">关注业界资讯，掌握职场最新资讯。</p>
						</div>
					</div>
				</div>
				

			</div>
		</div>
		<!--neck结束-->
		
		<!--main开始-->
		<div class="main">
			<div class="main_content">
				<div class="upper_rail"></div>
				<div class="left_rail">
					<a href="#" class="camera_a"></a>
					<a href="#" class="welcome_a">周雅文，欢迎使用领英！</a>
					<div class="upload">
						<span class="upload_span">上传照片</span>
					</div>
					<div class="number">
						<div class="number_number">1</div>
						<div class="number_friends">好友</div>
						<div class="number_more_friends">扩展人脉</div>
					</div>
					<div class="tool">
						<p class="acquire_tool">获取独家工具与洞察</p>
						<div class="try_tool">试用高级帐号</div>
					</div>
				</div>


				<div class="core_rail">
					<form class="send_words">
						{% csrf_token %}
						<input type='text' class="send_words_words" placeholder="发文章，照片或动态">
						<!-- <span class="send_words_words_a">发文章，照片或动态</span> -->
						</input>
						<div class="send_button">
							<div class="fa_zhaop"></div>
							<!-- <div class="fa_bu"></div> -->
							<!-- <input type="buttom" class="fa_bu"> -->
							<!-- <input type="buttom" value="" class="fa_bu"> -->
							<div class="fa_bu"></div>
						</div>
					</form>
					<div class="core_rail_hr">
						<hr>
					</div>
				</div>




				<div class="right_rail">
					<div class="find_career">
						<div class="find_career_inner"></div>
					</div>
					<div class="right_rail_low"></div>
				</div>
			</div>
		</div>
		<!--main结束-->
		<script type="text/javascript">
				// 获取动态
				$.ajax({
					url: "{% url 'articles:article' %}",
					success: function (res) {
						if (res.code === 200) {
							var data = res.data;
							for(i = 0; i < data.length; i++) {
								var head = '<div class="new_article">';
								var tail = '</div>';
								var temp = head + '<div class="article_part_up">'+'<div class="article_part_up_p"></div>'+'<div class="article_part_up_w">'+ '<p class="p_name">' + data[i].user_name + '</p>' + '<p class="p_job">' + data[i].job + '</p>' + '<p class="p_time">' + data[i].create_time + '</p>' + '</div>'+ '</div>' + '<p class="p_content">' + data[i].content + '</p>'+'<div class="p_content_picture"></div>';
								$('.core_rail').append(temp);
								// if(i==5){
								// 	break
								// }
							}
						}
					}
				});

				$('.fa_bu').click(function () {
					var user_id = 2;
					var content = $('input[class="send_words_words"]').val();

					if(content==''){
						alert('请编辑内容');
						return
					};
					var data = {
						"user_id": user_id,
						"content": content,
					};
					$.ajax({
						type: 'POST',
						url: "{% url 'articles:article' %}",
						data: JSON.stringify(data),
						success: function (res) {
							if (res.code == 200) {
								alert('发布成功')
								$('.send_words_words').val('')
								window.location.reload();
							}
						},
						error : function(data){
	 						alert("进入了error方法");
  					 	}
					})
					
				})

		</script>
	</body>
</html>
